.btn-search {
    --bs-btn-color: #28a745;
    --bs-btn-bg: #transparent;
    --bs-btn-border-color: #28a745;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #28a745;
    --bs-btn-hover-border-color: #28a745;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #28a745;
    --bs-btn-active-border-color: #28a745;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #gray;
    --bs-btn-disabled-border-color: #gray;
}

.bar-search {
    text-align: center;
}